/build/
/.callhome_eval_work/
.venv/
*.pyc
__pycache__/onnxruntime-win-x64-1.27.0/
zlib/build/
build/

# Large files
*.pdb
*.lib
onnxruntime-win-x64-*/lib/*
onnxruntime-win-x64-*/include/*
